.noteList {
  height: 85vh;
  overflow-y: scroll; /* Hide vertical scrollbar */
  padding-bottom: 20px;
}
.noteList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.noteList::-webkit-scrollbar {
  display: none;
}

.posts:hover {
  transform: scale(1.05);
}

.posts {
  width: 455px;
  max-width: 500px;
}
label {
  color: "rgb(7,43,80)";
  font-weight: 600;
}

input,
textarea {
  border-radius: 10px;
  border: 1px solid rgb(7, 43, 80);
  padding: 5px;
  font-size: 16px;
}
input:focus {
  border: none;
}

.form {
  width: 50%;
}
@media (max-width: 600px) {
  .form {
    width: 80%;
  }
}
